<configuration>
    <dllmap os="linux" dll="csfml-window-2" target="libcsfml-window.so.2.3"/>
    <dllmap os="linux" dll="csfml-graphics-2" target="libcsfml-graphics.so.2.3"/>
    <dllmap os="linux" dll="csfml-audio-2" target="libcsfml-audio.so.2.3"/>
    <dllmap os="linux" dll="csfml-system-2" target="libcsfml-system.so.2.3"/>
    <dllmap os="linux" dll="csfml-network-2" target="libcsfml-network.so.2.3"/>
</configuration>